body{
    background-color: #8A2BE2;
    color: rgb(255, 254, 254);
}
.flex-container {
    display: flex;
    background-color: black;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .flex-container > div {
    color: black;
    background-color: white;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    border-color: black;
  }
hr{
    border-style: double;
    width :80%;
    border-width: 0.8em;
    border-color: darkred ;
}
img{
    float: inline-end;
    width: 250px;
    margin-top: 20%;
    margin-left: 10%;
    margin-left: 10%;
    padding: 20px;
}
.para1{
    float:clear;
    float :right;
    width :80%;
    margin-right: 10%;
    letter-spacing: 2px;
    line-height: 1.6;
}
.para2{
    float:clear;
    float :center;
    width :80%;
    margin-left: 8%;
    letter-spacing: 2px;
    line-height: 1.6;
    background-color:crimson;
    padding: 20px;
    padding-left: 30px;
}
.image{
    width: 500px;
    height: 350px;
    float: none;
    margin-left: 23%;
}

.image2{
    margin-left: 23%;
}